div.footer-container {
    background-color: #f1f1f1;
    padding: 5px;
    text-align: left;
    font-size: 12px;
    color: #555;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid #ccc;
}