div.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    padding: 20px;
    border: 1px solid black;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.header {
    font-size: 36px;
    color: darkblue;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    margin-top: 5px;
}

.menu {
    margin-top: 15px;
}

.menu-button {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}